<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <style>
        body{
            text-align: center;
        }
        a{
            text-decoration: none;
            border-radius: 10px;
            padding: 0.5rem;
            color: white;
            background-color: #0062ff;
        }
        a:hover{
            background-color: #004bbd;
        }
    </style>
</head>
<body>
    <h1>Thank You!</h1>
<p>Ham jald hi aapse contact karenge 😊</p>
<a href="/">GO back to Home</a>

</body>
</html>